body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e43f3f !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e43f3f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e43f3f !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a61717 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e43f3f;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e43f3f;
  border-color: #e43f3f;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e43f3f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdf2f2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e43f3f !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #e43f3f;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e43f3f;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e43f3f;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e43f3f;
  border-bottom-color: #e43f3f;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e43f3f' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-BKgn31ESeF {
  padding-top: 0px;
  background: linear-gradient(180deg, #bbbbbb, #353535);
}
.cid-BKgn31ESeF .wave1 {
  opacity: 0.35;
  fill: #000000;
}
.cid-BKgn31ESeF .wave2 {
  fill: #000000;
}
.cid-Z5oRpjI85y .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-Z5oRpjI85y p {
  display: inline;
  font-size: 26px;
  color: #fff;
}
.cid-Z5oRpjI85y .marquee-rtl {
  padding-right: 1%;
  padding-left: 1%;
}
.cid-Z5oRpjI85y .navbar {
  padding: 0.5rem 0;
  background: #000000;
  transition: none;
  min-height: 50px;
}
.cid-Z5oRpjI85y .navbar-fixed-top {
  padding-top: 0;
}
.cid-Z5oRpjI85y .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-Z5oRpjI85y .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-Z5oRpjI85y .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-Z5oRpjI85y .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-Z5oRpjI85y .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-Z5oRpjI85y .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-Z5oRpjI85y .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-Z5oRpjI85y .menu-content-top {
  background: #232323;
  display: none;
  max-width: 100%;
  margin: auto;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-Z5oRpjI85y .dropdown-item {
  padding: 0;
}
.cid-Z5oRpjI85y .dropdown-item,
.cid-Z5oRpjI85y .nav-link,
.cid-Z5oRpjI85y .brand-name {
  font-style: normal;
}
.cid-Z5oRpjI85y .dropdown-item:hover,
.cid-Z5oRpjI85y .nav-link:hover,
.cid-Z5oRpjI85y .brand-name:hover {
  color: #e43f3f !important;
}
.cid-Z5oRpjI85y .dropdown-menu {
  background-color: #bbbbbb;
}
.cid-Z5oRpjI85y .dropdown-item:active {
  background-color: #bbbbbb;
}
.cid-Z5oRpjI85y .menu-bottom {
  margin: auto;
  width: 100%;
  display: flex;
  padding: 0rem 2rem;
  position: relative;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-Z5oRpjI85y .navbar-dropdown.bg-color.transparent.opened {
  background: #000000;
}
.cid-Z5oRpjI85y .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-Z5oRpjI85y .nav-item a {
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem !important;
}
.cid-Z5oRpjI85y .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-Z5oRpjI85y .content-text {
  margin-bottom: 0;
}
.cid-Z5oRpjI85y .navbar-nav {
  position: relative;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-Z5oRpjI85y .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #e43f3f;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-Z5oRpjI85y .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-Z5oRpjI85y .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-Z5oRpjI85y .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-Z5oRpjI85y .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-Z5oRpjI85y .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-Z5oRpjI85y .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-Z5oRpjI85y .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-Z5oRpjI85y .nav-dropdown .link {
  font-weight: 400;
}
.cid-Z5oRpjI85y .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-Z5oRpjI85y .content-right-side {
  text-align: center;
}
.cid-Z5oRpjI85y .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-Z5oRpjI85y .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-Z5oRpjI85y .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-Z5oRpjI85y .info-widget {
  padding-left: 2rem;
  padding-right: 3rem;
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-Z5oRpjI85y .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-Z5oRpjI85y .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-Z5oRpjI85y .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-Z5oRpjI85y .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-Z5oRpjI85y .widget-content .widget-title {
  font-weight: 400;
  margin-bottom: 3px;
}
.cid-Z5oRpjI85y .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-Z5oRpjI85y .navbar .menu-content-top {
    display: flex;
    height: 60px;
  }
  .cid-Z5oRpjI85y .content-right-side {
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-Z5oRpjI85y .menu-content-top {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.12);
  }
  .cid-Z5oRpjI85y .navbar {
    display: block;
    padding: 0;
  }
  .cid-Z5oRpjI85y .navbar .menu-logo {
    margin: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-Z5oRpjI85y .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-Z5oRpjI85y .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-Z5oRpjI85y .navbar-toggler {
    display: none;
  }
  .cid-Z5oRpjI85y .navbar-collapse {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
.cid-Z5oRpjI85y .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-Z5oRpjI85y .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-Z5oRpjI85y .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-Z5oRpjI85y .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-Z5oRpjI85y .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-Z5oRpjI85y .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-Z5oRpjI85y .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-Z5oRpjI85y .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-Z5oRpjI85y .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-Z5oRpjI85y .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-Z5oRpjI85y .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-Z5oRpjI85y .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-Z5oRpjI85y .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-Z5oRpjI85y .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-Z5oRpjI85y .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-Z5oRpjI85y .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-Z5oRpjI85y .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-Z5oRpjI85y .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-Z5oRpjI85y .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-Z5oRpjI85y .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-Z5oRpjI85y .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-Z5oRpjI85y .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-Z5oRpjI85y button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
}
.cid-Z5oRpjI85y button.navbar-toggler:focus {
  outline: none;
}
.cid-Z5oRpjI85y button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-Z5oRpjI85y button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-Z5oRpjI85y button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-Z5oRpjI85y button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-Z5oRpjI85y button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-Z5oRpjI85y nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-Z5oRpjI85y nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-Z5oRpjI85y nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-Z5oRpjI85y nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-Z5oRpjI85y .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-Z5oRpjI85y .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-Z5oRpjI85y .collapsed .btn {
  display: flex;
}
.cid-Z5oRpjI85y .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-Z5oRpjI85y .collapsed .navbar-collapse.collapsing,
.cid-Z5oRpjI85y .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-Z5oRpjI85y .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-Z5oRpjI85y .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-Z5oRpjI85y .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-Z5oRpjI85y .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-Z5oRpjI85y .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-Z5oRpjI85y .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-Z5oRpjI85y .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-Z5oRpjI85y .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-Z5oRpjI85y .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-Z5oRpjI85y .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-Z5oRpjI85y .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-Z5oRpjI85y .collapsed button.navbar-toggler {
  display: block;
}
.cid-Z5oRpjI85y .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-Z5oRpjI85y .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-Z5oRpjI85y .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-Z5oRpjI85y .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-Z5oRpjI85y .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-Z5oRpjI85y .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-Z5oRpjI85y .collapsed .menu-bottom {
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 991px) {
  .cid-Z5oRpjI85y .dropdown-item {
    color: white !important;
    border-bottom: 0px solid #353535;
  }
  .cid-Z5oRpjI85y .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #353535;
  }
}
@media (max-width: 991px) {
  .cid-Z5oRpjI85y .dropdown-menu {
    margin-top: 0px;
    background-color: transparent;
    color: black !important;
  }
  .cid-Z5oRpjI85y .menu-bottom {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .cid-Z5oRpjI85y .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-Z5oRpjI85y .navbar-collapse.collapsing,
  .cid-Z5oRpjI85y .navbar-collapse.show {
    display: block !important;
  }
  .cid-Z5oRpjI85y .navbar-collapse.collapsing .navbar-nav,
  .cid-Z5oRpjI85y .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-Z5oRpjI85y .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-Z5oRpjI85y .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-Z5oRpjI85y .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-Z5oRpjI85y .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-Z5oRpjI85y .navbar-collapse.collapsing .navbar-buttons,
  .cid-Z5oRpjI85y .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-Z5oRpjI85y .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-Z5oRpjI85y .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-Z5oRpjI85y img {
    height: 3.8rem !important;
  }
  .cid-Z5oRpjI85y .btn {
    display: flex;
  }
  .cid-Z5oRpjI85y button.navbar-toggler {
    display: block;
  }
  .cid-Z5oRpjI85y .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-Z5oRpjI85y .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-Z5oRpjI85y .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-Z5oRpjI85y .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-Z5oRpjI85y .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-Z5oRpjI85y .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-Z5oRpjI85y .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-Z5oRpjI85y .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-Z5oRpjI85y .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-Z5oRpjI85y .nav-link:focus {
  outline: none;
}
.cid-Z5oRpjI85y .navbar-toggler {
  position: relative;
}
.cid-Z5oRpjI85y .dropdown-item.active,
.cid-Z5oRpjI85y .dropdown-item:active {
  color: initial;
}
.cid-Z5oRpjI85y .widget-title,
.cid-Z5oRpjI85y .widget-icon {
  color: #e9e9e9;
}
.cid-Z5oRpjI85y .widget-text {
  color: #656565;
}
@media (max-width: 576px) {
  .cid-Z5oRpjI85y .menu-logo {
    display: none;
  }
  .cid-Z5oRpjI85y .navbar {
    padding: 0;
  }
  .cid-Z5oRpjI85y .menu-bottom {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-Z5oRpjI85y button.navbar-toggler {
    -webkit-align-self: center;
    align-self: center;
  }
}
.cid-Z5oRpjI85y .media-container-row .mbr-text {
  color: #ffffff;
  text-align: right;
}
.cid-Z5oRpjI85y .icon-bar {
  left: 0.4%;
  position: fixed;
  top: 50%;
  font-weight: normal;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-Z5oRpjI85y .icon-bar a:hover {
  background-color: #ff0040;
  width: 100px;
}
.cid-Z5oRpjI85y .icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  font-weight: normal;
  margin: 2px;
  border-radius: 17px;
}
.cid-Z5oRpjI85y .facebook {
  background: #3B5998;
  color: white;
  width: 50px;
}
.cid-Z5oRpjI85y .twitter {
  background: #55ACEE;
  color: white;
  width: 50px;
}
.cid-Z5oRpjI85y .google {
  background: #dd4b39;
  color: white;
  width: 50px;
}
.cid-Z5oRpjI85y .linkedin {
  background: #007bb5;
  color: white;
  width: 50px;
}
.cid-Z5oRpjI85y .youtube {
  background: #bb0000;
  color: white;
  width: 50px;
}
.cid-Z5oRpjI85y .instagram {
  background: #6F3AA7;
  color: white;
  width: 50px;
}
.cid-Z5oRpjI85y .custom1 {
  background: #ff7300;
  color: white;
  width: 50px;
}
.cid-Z5oRpjI85y .custom2 {
  background: #01bf46;
  color: white;
  width: 50px;
}
.cid-Z5oRpjI85y .content {
  margin-left: 75px;
  font-size: 30px;
}
.cid-Z5oRpjI85y .corner-ribbon {
  z-index: 10000;
  width: 200px;
  background-image: linear-gradient(#55b4d4, #000000);
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.cid-Z5oRpjI85y .corner-ribbon.top-zen {
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: fixed;
}
.cid-Z5oRpjI85y P {
  color: #232323;
  text-align: center;
}
.cid-Z5oRpjI85y DIV {
  color: #ffffff;
}
.cid-t8CleiDqbA {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/knwy2cxz-lc-8-2000x1334.jpeg");
}
.cid-t8CleiDqbA .mbr-section {
  text-align: center;
  color: #eb5317;
}
.cid-t8CleiDqbA .banner-heading .cont {
  color: #031fbb;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  display: block;
}
.cid-t8CleiDqbA .banner-heading {
  color: #fff;
  padding-bottom: 20px;
  font-size: 48px;
}
.cid-t8CleiDqbA .banner-heading span {
  color: #ff0000;
  font-size: 28px;
}
.cid-t8CleiDqbA .btn {
  display: inline-block;
  background-color: #ff7200;
  color: #fff;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ff7200;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cid-dq68cJB4zq {
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
@media (max-width: 991px) {
  .cid-dq68cJB4zq {
    min-width: 200px;
  }
}
.cid-dq68cJB4zq .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-dq68cJB4zq .mbr-section-text {
  min-width: 300px;
  text-align: left;
}
@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}
.cid-dq68cJB4zq .green-audio-player {
  width: 650px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  user-select: none;
  background-color: #cccccc;
  box-sizing: border-box;
  outline: none;
  margin-left: 15px;
  margin-right: 15px;
}
@media (max-width: 1200px) {
  .cid-dq68cJB4zq .green-audio-player {
    width: 300px;
  }
}
.cid-dq68cJB4zq .green-audio-player.player-accessible .play-pause-btn:hover,
.cid-dq68cJB4zq .green-audio-player.player-accessible .controls:hover,
.cid-dq68cJB4zq .green-audio-player.player-accessible .volume__button:hover,
.cid-dq68cJB4zq .green-audio-player.player-accessible .volume__controls:hover,
.cid-dq68cJB4zq .green-audio-player.player-accessible .download:hover {
  outline: dotted 1px #999;
}
.cid-dq68cJB4zq .green-audio-player svg,
.cid-dq68cJB4zq .green-audio-player img {
  display: block;
}
.cid-dq68cJB4zq .green-audio-player .holder {
  position: relative;
}
.cid-dq68cJB4zq .green-audio-player .holder .loading .loading__spinner {
  position: absolute;
  left: -3px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  border: 2px solid #b0b0b0;
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 0.4s linear infinite;
}
.cid-dq68cJB4zq .green-audio-player .holder .play-pause-btn {
  visibility: hidden;
  cursor: pointer;
  outline: none;
  fill: #ffffff;
}
.cid-dq68cJB4zq .green-audio-player .holder .play-pause-btn:focus {
  outline: none;
}
.cid-dq68cJB4zq .green-audio-player .slider {
  flex-grow: 1;
  background-color: #000000;
  cursor: pointer;
  position: relative;
}
.cid-dq68cJB4zq .green-audio-player .slider .gap-progress {
  background-color: #fe732f;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}
.cid-dq68cJB4zq .green-audio-player .slider .gap-progress .pin {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #007797;
  position: absolute;
  pointer-events: all;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.32);
}
.cid-dq68cJB4zq .green-audio-player .slider .gap-progress .pin::after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0);
  width: 200%;
  height: 200%;
  margin-left: -50%;
  margin-top: -50%;
  border-radius: 50%;
}
.cid-dq68cJB4zq .green-audio-player .controls {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  outline: none;
}
.cid-dq68cJB4zq .green-audio-player .controls .controls__slider {
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 2px;
  height: 4px;
}
.cid-dq68cJB4zq .green-audio-player .controls .controls__slider .controls__progress {
  width: 0;
  height: 100%;
}
.cid-dq68cJB4zq .green-audio-player .controls .controls__slider .controls__progress .progress__pin {
  right: -8px;
  top: -6px;
}
.cid-dq68cJB4zq .green-audio-player .controls span {
  cursor: default;
}
.cid-dq68cJB4zq .green-audio-player .controls:focus {
  outline: none;
}
.cid-dq68cJB4zq .green-audio-player .volume {
  position: relative;
}
.cid-dq68cJB4zq .green-audio-player .volume_test {
  height: 24px;
  width: 24px;
}
.cid-dq68cJB4zq .green-audio-player .download__link {
  fill: #ffffff;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__button {
  cursor: pointer;
  outline: none;
  fill: #ffffff;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__button:focus {
  outline: none;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__button.open path {
  fill: #efefef;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls {
  width: 30px;
  height: 135px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 2;
  outline: none;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls .volume__slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls .volume__slider .volume__progress {
  bottom: 0;
  height: 100%;
  width: 6px;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
  left: -5px;
  top: -8px;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls:focus {
  outline: none;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls.hidden {
  display: none;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls.top {
  bottom: 52px;
  left: -3px;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls.middle {
  bottom: -54px;
  left: 54px;
}
.cid-dq68cJB4zq .green-audio-player .volume .volume__controls.bottom {
  bottom: -164px;
  left: -3px;
}
.cid-dq68cJB4zq .green-audio-player .download {
  display: none;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
  fill: #ffffff;
}
.cid-dq68cJB4zq .green-audio-player .download:focus {
  outline: none;
}
.cid-dq68cJB4zq .green-audio-player:focus {
  outline: none;
}
.cid-dq68cJB4zq .message__offscreen {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}
.cid-dq68cJB4zq .hidden {
  display: none;
}
.cid-dq68cJB4zq .mbr-section-subtitle {
  min-width: 500px;
  text-align: left;
}
